@import "tailwindcss";

html, body {
  height: 100%;
}

body {
  margin: 0;
  background: #fafafa; /* zinc-50 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Inter', sans-serif;
}

.serif {
  font-family: 'Playfair Display', serif;
}

html, body, #root {
  font-family: "Tenor Sans", system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
}
