@import "tailwindcss";

html, body {
  height: 100%;
}

body {
  margin: 0;
  background: #fafafa; /* zinc-50 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* TEK FONT */
  font-family: "Tenor Sans", system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
}

/* Tailwind'de kullandığın serif class'ı da aynı font olsun */
.serif {
  font-family: "Tenor Sans", system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif !important;
}

/* Form elemanları bazen ayrı font alır */
button, input, select, textarea {
  font-family: inherit;
}

#root {
  min-height: 100%;
}